/*Main Body*/
body{
	background: #fc4a1a;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f7b733, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/*Header/Navbar*/
nav.navbar{
	background: #fc4a1a;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f7b733, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#dropdownLi{
	font-family: 'Permanent Marker', cursive;
}

/*Jumbotron*/
#jumbotronContainer{
	background-color: rgba(251, 251, 96, 0.3);
}
h1.display-3{
	font-family: 'Permanent Marker', cursive;
	text-shadow: 1px 1px #E7E9BB;
}
#miniHeader{
	font-family: 'Permanent Marker', cursive;
	font-size: 2em;
	text-shadow: 1px 1px #E7E9BB;
}
#scrapeButton{
	background-color: rgba(189, 189, 159, 0.1);
	font-family: 'Permanent Marker', cursive;
	font-size: 2em;
	text-shadow: 1px 1px #E7E9BB;
	border-width: 1px;
	border-color: #fdd135;
}
#scrapeButton:hover{
	background-color: #e52332;
}
#boom{
	max-width: 350px;
	margin-left: 25%;
}

/*Display Cards*/
p.titles{
	font-family: 'Permanent Marker', cursive;
	font-size: 2em;
	margin-bottom: 0;
}
h4.card-title{
	font-family: 'Jomhuria', cursive;	
	font-size: 2.25em;
}
a{
	color: #e52332;
	text-shadow: 1px 1px black;
}
a:hover{
	color: #e52332;
}
div.card-header{
	background-color: #f7b733;
}
div.card{
	background: #f7b733;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #f7b733, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #f7b733, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	margin-bottom: 10px;
}
.btn-secondary{
	background-color: rgba(189, 189, 159, 0.1);
	font-family: 'Jomhuria', cursive;	
	font-size: 2em;
	border-width: 1px;
	border-color: #fdd135;
}
.btn-secondary:hover{
	background-color: #e52332;
}
#trashButton{
	border: 1px solid;
	border-color: #fdd135;
  border-radius: 10px;
	background-color: rgba(189, 189, 159, 0.1);
	padding: 7px, 9px, 9px, 9px;
}
#trashButton:hover{
	background-color: #e52332;
}

/*Notes Modal*/
div.modal-content{
	background: #f7b733;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #f7b733, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #f7b733, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */	
}
h5.modal-title{
	font-family: 'Permanent Marker', cursive;
	font-size: 2em;
	text-shadow: 1px 1px #E7E9BB;
}
div.modal-body{
	font-family: 'Jomhuria', cursive;	
	font-size: 2em;
}
textarea.form-control{
	font-family: 'Jomhuria', cursive;	
	font-size: 20pt;
}